<!DOCTYPE html>
<html>

<body>
    <h1>Upload a new audio file</h1>
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>
    {% if message %}
    <p>{{ message }}</p>
    {% endif %}
    <h1>Existing Files</h1>
    {% for file in files %}
    <p>
        <a href="{{ url_for('uploaded_file', filename=file) }}">{{ file }}</a>
        <audio controls>
            <source src="{{ url_for('uploaded_file', filename=file) }}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
    </p>
    {% endfor %}
</body>

</html>